<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Fotobox</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    </head>
    <body>
        <h1 id="landing-title">Drücke auf den Bildschirm und mache ein Selfie!</h1>
        <!--<img id="emoji-cool" src="{{ url_for('static', filename='cool.png') }}">
        <img id="emoji-happy" src="{{ url_for('static', filename='happy.png') }}">
        <img id="emoji-party" src="{{ url_for('static', filename='party.png') }}">-->
        <script src="{{ url_for('static', filename='landing-page.js') }}"></script>
    </body>
</html>